.product__card__container {
  border-radius: 10px;
  margin: 2vh 0;
  background-color: rgba(54, 65, 106, 0.15);
}

.product__card {
  width: 70vw;
  height: 20vh;
  display: flex;
}

.product__card__img {
  height: 100%;
  width: 10vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__card__img > img {
  height: 9vh;
  width: auto;
  border-radius: 50%;
  margin-bottom: 7vh;
}

.product__card__content {
  text-align: left;
  width: 55vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.product__card__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__card__description.expanded {
  -webkit-line-clamp: initial;
}

.product__card__content > span:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  color: #36416a;
}

.product__card__last__section {
  height: 7vh;
  width: 55vw;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.product__card__category {
  height: 5vh;
  width: 30vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.product__card__category > span {
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #c0ceff;
  margin: 2px 5px;
  padding: 5px 12px;
  border-radius: 1rem;
}

.product__card__comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 8vw;
  font-size: 1.2rem;
  font-weight: 400;
  color: grey;
  margin-right: 20vw;
}

.product__card__comment > img {
  height: 1.2rem;
  width: auto;
}

.product__card__right {
  width: 10vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.product__card__likes {
  height: 10vh;
  width: 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c7cbd6;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 2rem;
}

.product__card__likes > img {
  cursor: pointer;
}

.product__card__comments {
  height: 5vh;
  width: 3.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 500;
}

.product__card__comments > span {
  margin-bottom: 0.4rem;
}

.product__card__edit__button {
  color: white;
  font-weight: 600;
  padding: 1vh 1vw;
  border: none;
  border-radius: 5px;
  background-color: #36416a;
  cursor: pointer;
}

/* Responsive Design */
@media screen and (max-width: 500px) and (min-width: 200px) {
  .product__card__container {
    border-radius: 10px;
    margin: 2vh 0;
    background-color: rgba(54, 65, 106, 0.15);
  }

  .product__card {
    width: 85vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    margin-left: 5vw;
    align-items: center;
  }

  .product__card__img {
    height: 100%;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product__card__img > img {
    height: 4.5vh;
    width: auto;
    margin-bottom: 15vh;
    margin: 0rem 1.5vw 12vh 1.5vw;
  }

  .product__card__content {
    text-align: left;
    width: 70vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .product__card__content > span:first-child {
    font-size: 1.2rem;
    font-weight: 600;
    color: #36416a;
  }

  .product__card__content > span:nth-child(2) {
    font-size: 0.9rem;
    font-weight: 400;
    color: grey;
  }

  .product__card__last__section {
    width: 80vw;
    display: flex;
    gap: 0.1rem;
    align-items: center;
  }

  .product__card__category {
    height: 5vh;
    width: 45vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .product__card__category > span {
    font-size: 10px;
    font-weight: 500;
    background-color: #c0ceff;
    margin: 2px 2px;
    padding: 2px 5px;
    border-radius: 1rem;
  }

  .product__card__comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 5vw;
    font-size: 1rem;
    font-weight: 400;
    color: grey;
  }

  .product__card__comment > img {
    height: 1rem;
    width: auto;
  }

  .product__card__right {
    width: 13vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .product__card__likes {
    height: 15vh;
    width: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c7cbd6;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 2rem;
  }

  .product__card__likes > img {
    cursor: pointer;
  }

  .product__card__comments {
    height: 5vh;
    width: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .product__card__comments > span {
    margin-bottom: 0.4rem;
  }

  .product__card__edit__button {
    width: 25vw;
    color: white;
    font-weight: 600;
    padding: 1vh 3vw;
    border: none;
    border-radius: 1rem;
    background-color: #36416a;
    cursor: pointer;
    margin-right: 12vw;
  }
}
